.action__button {
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 16px;
  letter-spacing: 0.02857em;
}

.flex_container {
  display: flex;
  flex-direction: column;
}

body {
  font-family: Arial, sans-serif;
}

.cross_out {
  background-color: #4dcfa6;
}

.non-selectable {
  user-select: none;
  cursor: pointer;
}

.question {
  padding: 3px;
}

ul {
  list-style-type: none;
}
